body {
	text-align: center;
}
.styles {
	padding-top: 15vh;
	background: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/0DFB1CC536.jpg') center/cover;
	height: 100vh;
}
p {
	padding-top: 50px;
	font-size: 25px;
	font-weight: bold;
}